@import './../../scss/variables';
.breadcrumb {
    margin: 16px 0;
    li {
        a,
        &::before {
            color: $gray!important;
            text-decoration: none;
            font-size: 14px;
        }
        &.active {
            font-size: 14px;
            font-weight: bold;
        }
    }    
}